<!DOCTYPE html>
<html lang="en">
  <head>
	<link rel="canonical" href="{{.Site.BaseURL}}" />
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{.Site.Title}} | {{ .Title }}</title>

	<!-- Meta SEO -->
	{{ template "_internal/opengraph.html" . }}
	<meta name="description" content="{{.Site.Params.description}}" />
	<meta name="robots" content="index, follow" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="language" content="English" />
	<meta name="author" content="Lisbon Collective" />

	<!-- Social media share -->
	<meta property="og:site_name" content="{{.Site.Params.site_name}}" />
	<meta
	  property="og:image"
	  content="{{.Site.BaseURL}}{{.Site.Params.ogimage}}"
	/>
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="{{.Site.Params.twittersite}}" />
	<meta name="twitter:creator" content="{{.Site.Params.ogcreator}}" />

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
	<link rel="manifest" href="/site.webmanifest" />
	<meta name="msapplication-TileColor" content="#da532c" />
	<meta name="theme-color" content="#ffffff" />
	<link href="/css/output.css" rel="stylesheet" />
	<script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body>
	{{ block "main" .}} {{ end }}
	<script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
	{{- if not .Site.IsServer -}}
	<script
	  async
	  defer
	  data-website-id="3101b029-19c8-42f8-aba2-b4268cf12aa4"
	  src="https://nash.lisboncollective.com/umami.js"
	></script>
	{{end}}
  </body>
</html>
